body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 18px;
  color: #555555;
  background-color: #f3f5f5;
}
a {
  text-decoration: none;
  color: #555555;
}
a:visited {
  text-decoration: none;
}
a:hover {
  color: #ff9000;
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
button,
select,
input,
textarea {
  outline: none;
}
.container {
  margin: 0;
  padding: 0 15px;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.button {
  display: block;
  width: 170px;
  padding: 5px 15px;
  text-align: center;
  color: #eee;
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  background: linear-gradient(to top, #37a5b4 20%, #3fc1d4);
  transition: 0.2s;
}
.button:hover {
  color: #eee;
  background: linear-gradient(to bottom, #ff9000 50%, #fcab42);
}
.section-title {
  display: block;
  margin: 40px 0 30px;
  font-size: 30px;
  border-bottom: 1px solid #e31e24;
}
